body
{
  background: url('clubRegistration_Background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.holder
{
  height: 500px;
  width: 400px;
  background: rgba(39, 60, 117,0.8);
  margin-left: 37%;
  margin-top: 10%;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
}
.inp
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 10%;
  font-size: 25px;
  font-weight: bold;
}
.nav-item
{
  padding-left: 7px;
  padding-right: 7px;
}
.nav-item:hover
{
  border-bottom: 5px solid white;
  font-weight: bold;
}
input[type = "text"],input[type = "number"]
{
  width: 80%;
  height: 40px;
  border: none;
  background: transparent;
  color: white;
}
input[type = "submit"]
{
  margin-top: 20px;
  width: 100%;
  border: none;
  height: 40px;
  background: rgba(214, 48, 49,0.8);
  border-radius: 30px;
}
input[type = "submit"]:hover
{
  background: black;
  color: white;
  border-style: solid;
  border-color: white;
}
.header
{
  padding-top: 50px;
  font-size: 35px;
  font-weight: bold;
}
